In [6]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as  plt
pd.set_option('display.max_columns',100)

In [8]:
data=pd.read_csv('data/credit_pri_data.csv')
data.shape

(117919, 21)

In [9]:
data.head()

,USER_ID,AGE,SEX,TEL_ID,PROVINCE,NATIONALITY,HOU_ID,PROPERTY_ID,PROPERTY_USAGE_TYPE,PROPERTY_ARCHITECTURAL_AREA,PROPERTY_SIGN_DATE,PROPERTY_RECORD_DATE,PROPERTY_PRICE,PROPERTY_LOAN_WAY,PROPERTY_PAYMENT,CFCS,JFCS,Mortgage_starttime,Mortgage_endtime,Purchase_houcs,Sale_houcs
0,553081,2.0,0.0,0,33,1,110699851,1,1,0,2018/04,2018/04,0,3,3,NaN,NaN,NaN,NaN,2.0,1.0
1,620729,2.0,1.0,0,33,1,110699851,1,1,0,2018/04,2018/04,0,3,3,NaN,NaN,NaN,NaN,2.0,1.0
2,473511,4.0,0.0,0,61,1,110805321,1,1,2,2018/04,2018/04,3,5,2,NaN,NaN,NaN,NaN,2.0,NaN
3,700187,4.0,1.0,0,33,1,110805321,1,1,2,2018/04,2018/04,3,5,2,NaN,NaN,NaN,NaN,1.0,1.0
4,172276,4.0,0.0,0,33,1,110165121,1,1,0,2018/03,2018/03,1,5,1,NaN,NaN,NaN,NaN,1.0,NaN

In [10]:
data.isnull().sum()

USER_ID                             0
AGE                                68
SEX                             24745
TEL_ID                              0
PROVINCE                            0
NATIONALITY                         0
HOU_ID                              0
PROPERTY_ID                         0
PROPERTY_USAGE_TYPE                 0
PROPERTY_ARCHITECTURAL_AREA         0
PROPERTY_SIGN_DATE                  0
PROPERTY_RECORD_DATE                0
PROPERTY_PRICE                      0
PROPERTY_LOAN_WAY                   0
PROPERTY_PAYMENT                    0
CFCS                           117634
JFCS                           117649
Mortgage_starttime             110682
Mortgage_endtime               110682
Purchase_houcs                      2
Sale_houcs                     102055
dtype: int64